*{
    margin:0;
    padding: 0;
}

.head{
    height: 54px;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 6;

}

.navbar-outer{
    display: flex;
/* align-items: flex-start; */
width: 1200px;
padding: 10px 0.75%;
justify-content: center;
align-items: center;
box-sizing: border-box;
flex: auto;
margin: auto;
}

.navbar-title{
    color: var(--primary-color-cyan-70, #489);

    /* Header 2 - Bold 30(34) */
    font-family: Noto Sans TC;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 113.333% */
    
}
.navbar-btn{
    justify-content: flex-end;
    display: flex;
    flex: auto;
}

.navbar-btn_order{
    color: var(--secondary-color-gray-70, #666);
    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px; /* 83.125% */
    padding: 10px;
    cursor: pointer;

}

.navbar-btn_signin{
    color: var(--secondary-color-gray-70, #666);

    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px; /* 83.125% */
    padding: 10px;
}

.upper_separate_line{
    
    height: 1px;
    flex-shrink: 0;
    background-color: #E8E8E8;
    margin: auto;
    margin-top: 54px;
}

.main{
    margin-top: 40px;
    margin-bottom: 40px;

}

:root{
    /* weight 500 */
    --secondary-color-gray-70: #666;
    --font-family-500: Noto Sans TC;
    --font-size-500: 16px;
    --font-style-500: normal;
    --font-weight-500: 500;
    --line-height-500: 13.3px;

    /* weight 700 size 16 */
    --secondary-color-gray-70: #666;
    --font-family-700_16: Noto Sans TC;
    --font-size-700_16: 16px;
    --font-weight-700_16: 700;
    --line-height-700_16: 13.3px;

    /* weight 700 size 19 */
    --secondary-color-gray-70: #666;
    --font-family-700_19: Noto Sans TC;
    --font-size-700_19: 19px;
    --font-weight-700_19: 700;
    --line-height-700_19: 13.3px;


}


.main_title{
    
    width: 1000px;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 30px;
    height: 27px;
    padding: 5px;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-700_19);
    font-size: var(--font-size-700_19);
    font-weight: var(--font-weight-700_19);
    /* line-height: var(--line-height-700_19); */
    box-sizing: border-box;
}




.main_info{
    width: 980px;
    height: 200px;
    flex-shrink: 0;
    margin: auto;
    display: flex;
    position: relative;
}
.delete_btn{
    height: 30px; 
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.main_info-image{
    
    box-sizing: border-box;
    width: 250px;
    height: 200px;
    margin-right: 30px;
}

.main_info_text__title{

    margin-bottom: 20px;

    color: var(--primary-color-cyan-70, #489);

    /* Body - Bold 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px; /* 83.125% */
}

.main_info_text__date{
    display: flex;
    margin-bottom: 10px;
    height: 24px;
    padding: 5px 0;
    box-sizing: border-box;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-700_16);
    font-size: var(--font-size-700_16);
    font-weight: var(--font-weight-700_16);
    line-height: var(--line-height-700_16);
}

.main_info_text__time{
    display: flex;

    margin-bottom: 10px;
    height: 24px;
    padding: 5px 0;
    box-sizing: border-box;

    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-700_16);
    font-size: var(--font-size-700_16);
    font-weight: var(--font-weight-700_16);
    line-height: var(--line-height-700_16);
}

.main_info_text__fee{
    display: flex;

    margin-bottom: 10px;
    height: 24px;
    padding: 5px 0;
    box-sizing: border-box;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-700_16);
    font-size: var(--font-size-700_16);
    font-weight: var(--font-weight-700_16);
    line-height: var(--line-height-700_16);
}

.main_info_text__location{
    display: flex;

    height: 24px;
    padding: 5px 0;
    box-sizing: border-box;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-700_16);
    font-size: var(--font-size-700_16);
    font-weight: var(--font-weight-700_16);
    line-height: var(--line-height-700_16);
}




.main_user{
    width: 980px;
    height: 227px;
    flex-shrink: 0;
    margin: auto;

}

.main_user_title{
    display: flex;
    margin-bottom: 20px;
    height: 24px;
    padding: 5px 0;
    box-sizing: border-box;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-700_19);
    font-size: var(--font-size-700_19);
    font-weight: var(--font-weight-700_19);
    line-height: var(--line-height-700_19);
}

.main_user_name{
    display: flex;
    margin-bottom: 15px;
    height: 38px;
    padding: 5px 0;
    box-sizing: border-box;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-500);
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-500);
}

.main_user_email{
    display: flex;
    margin-bottom: 15px;
    height: 38px;
    padding: 5px 0;
    box-sizing: border-box;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-500);
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-500);
}

.main_user_phone{
    display: flex;
    margin-bottom: 15px;
    height: 38px;
    padding: 5px 0;
    box-sizing: border-box;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-500);
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-500);
}

.main_user_hint{
    
    padding: 5px 0;
    box-sizing: border-box;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-700_16);
    font-size: var(--font-size-700_16);
    font-weight: var(--font-weight-700_16);
    line-height: var(--line-height-700_16);
}


.main_credit{
    width: 980px;
    /* height: 188px; */
    flex-shrink: 0;
    margin: auto;

}

.main_credit_title{
    display: flex;
    margin-bottom: 20px;
    height: 38px;
    padding: 5px 0;
    box-sizing: border-box;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-700_19);
    font-size: var(--font-size-700_19);
    font-weight: var(--font-weight-700_19);
    line-height: var(--line-height-700_19);
}

.main_credit_num{
    display: flex;
    margin-bottom: 15px;

    height: 38px;    
    padding: 5px 0;
    box-sizing: border-box;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-500);
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-500);
}

.main_user_name_box,
.main_user_email_box,
.main_user_phone_box,
#card-number,
#card-expiration-date,
#card-ccv{
    display: flex;
    width: 180px;
    height: 38px;
    padding: 10px;
    align-items: flex-start;
    border-radius: 5px;
    border: 1px solid var(--Gray-300, #E8E8E8);
    background: var(--White, #FFF);
    box-sizing: border-box;
    /* vertical-align: sub; */
    margin-top: -11px;
}

.main_credit_expired{
    display: flex;
    margin-bottom: 15px;

    height: 38px;
    padding: 5px 0;
    box-sizing: border-box;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-500);
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-500);
}

.main_credit_code{
    display: flex;

    height: 38px;
    padding: 5px 0;
    box-sizing: border-box;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-500);
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-500);
}

.main_payment{
    width: 980px;
    height: 100px;
    flex-shrink: 0;
    margin: auto;
    position: relative;
}

.main_payment_total{
    color: var(--Gray-800, #666);
    text-align: right;
    /* Body - Bold 16(13.3) */
    font-family: var(--font-family-700_16);
    font-size: var(--font-size-700_16);
    font-weight: var(--font-weight-700_16);
    line-height: var(--line-height-700_16);
    width: 157px;
    margin-bottom: 22px;
    position: absolute;
    right: 0;
    top: 0;
}



.main_payment_btn{
    /* display: flex; */
    width: 173px;
    margin-right:0;
    box-sizing: border-box;
    padding: 10px 20px;
    align-items: flex-end;
    border-radius: 5px;
    background: var(--primary-color-cyan-70, #489);
    color: var(--additional-color-white, #FFF);
    text-align: center;
    position: absolute;
    bottom: -158px;
    right: 0;
    border: 0;
    z-index: 2;

    /* Button - Reg 19(16) */
    font-family: Noto Sans TC;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 84.211% */
}


.separate_line{
    width: 1200px;
    height: 1px;
    flex-shrink: 0;
    background-color: #E8E8E8;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}


.footer{
    display: flex;
    width: 100%;
    height: 104px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    background: var(--Gray-700, #757575);
    box-sizing: border-box;
}



.footer-title{
    color: var(--additional-color-white, #FFF);
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px; 
}



.signup_form_box,.signin_form_box{
    position: fixed;
    top: -500px;
    width: 340px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    box-sizing: border-box;
    background: var(--White, #FFF);
    box-shadow: 0px 4px 60px 0px #AAA;
    z-index: 8;
    opacity: 1;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: top 0.8s ease;
}

.signup_form_box_header,.signin_form_box_header{
    width: 340px;
    height: 10px;
    background-image: linear-gradient(to left, #337788, #66AABB);
    margin: auto;
    position: absolute;
    top: -10px;
    left: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}



.signup_form_closing,.signin_form_closing{
    position: absolute;
    top: 17px;
    right: 17px;
    cursor: pointer;
}


.signup_form_title,.signin_form_title{
    
    display: flex;
    width: 310px;
    height: 27px;
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--secondary-color-gray-70, #666);
    text-align: center;
    /* Header 3 - Blod 24(24) */
    font-family: Noto Sans TC;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
    
}


.name{
    width: 310px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
    margin-bottom: 10px;

    padding: 15px;
    box-sizing: border-box;

    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px; /* 83.125% */


}
.email{
    width: 310px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
    margin-bottom: 10px;
    padding: 15px;
    box-sizing: border-box;

    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px; /* 83.125% */

    
}
.password{
    width: 310px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--Gray-500, #CCC);
    background: var(--White, #FFF);
    margin-bottom: 10px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--secondary-color-gray-50, #757575);

    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px; /* 83.125% */
    
}
.signup_form_btn, .signin_form_btn{
    display: flex;
    width: 310px;
    height: 47px;
    margin-bottom: 10px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--primary-color-cyan-70, #489);
    border: 0;
    color: var(--additional-color-white, #FFF);
    text-align: center;
    /* Button - Reg 19(16) */
    font-family: Noto Sans TC;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 84.211% */
}

.signup_form_switch, .signin_form_switch{
    display: flex;
    width: 310px;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--secondary-color-gray-70, #666);
    text-align: center;
    
    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px; /* 83.125% */

    cursor: pointer;
}

.signup_form_msg,.signin_form_msg{
    display: none;
    width: 310px;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    
    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px; /* 83.125% */
  }

.mask{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 7;
}

.main_info_text__date-value,
.main_info_text__time-value,
.main_info_text__fee-value,
.main_info_text__location-value
{
    margin-left: 5px;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-500);
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-500);
}





@media (max-width:1200px){
.navbar-outer{
    display: flex;
    width: 100%;
    height: 54px;
    padding: 10px 0px 10px 10px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 25px;
    flex-shrink: 0;
}

.content{
    width: 100%;
}
.content_img {
    width: 50%;
}
.content_profile {
    width: calc(50% - 30px);
}

.separate_line {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.info {
    width: 100%;
    padding: 10px 10px 0 20px;
}
.main_payment{
    width: calc(100% - 20px);

}
.main_info{
    
    width: calc(100% - 20px);
    height: 100%;
    

}
.main{
    width: 100%
}
.main_info{

    width: calc(100% - 20px);
    height: 100%;
}
.main_user{
    width: calc(100% - 20px);
    height: auto;
    flex-shrink: 0;
    margin: auto;

}
.main_credit{
    width: calc(100% - 20px);
    height: auto;
    flex-shrink: 0;
    margin: auto;

}

.main_user_hint{
    line-height: normal;
}

.main_title{
    
    width: calc(100% - 20px);

}

}

@media (max-width:600px){
    .content {
        padding: 0;
        display: block;
        margin-top: 0;
    }
    .content_img {
        width: 100%;
        height: 350px;
    }
    .attraction_pic {
        border-radius: 0;
    }

    .content_profile {
        width: 100%;
        height: auto;
        margin-left: 0;
        padding: 20px 10px 0 10px;
        box-sizing: border-box;
    }
    .content_profile-booking {
        height: auto;
    }


    .main{
        width: 100%
    }
    .main_info{
    
        width: calc(100% - 20px);
        height: 100%;
        display: block;
        margin-bottom: 60px;
    }

    .delete_btn{
        /* top:0; */
        top: 100%;
    }

    .main_info-image{
        width: 100%;
        object-fit: cover;
        margin-bottom: 28px;
        margin-right: 0;
        margin-right: 0;
    }

}


.main_credit_form{
    position: relative;
}

.thank_order{
    height: 300px;
    width: 100%;
    margin: auto;
    margin-top: 93px;
    margin-bottom: 40px;
    text-align: center;
    color: var(--secondary-color-gray-70, #666);
    font-family: var(--font-family-500);
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-500);
    /* line-height: var(--line-height-500); */
}


.main_credit-hint,
.main_user_phone-hint
{
    /* padding: 5px 0; */
    box-sizing: border-box;
    color: red;
    font-family: var(--font-family-700_16);
    font-size: var(--font-size-700_16);
    font-weight: var(--font-weight-700_16);
    line-height: var(--line-height-700_16);
    display: none;


}