<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="templates.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}">

    <title>Document</title>
</head>
<body>
    <div class="mask"></div>
    <div class="head">
        <navbar class="navbar-outer">
            <div class="navbar-title">
                台北一日遊
            </div>
            <div class="navbar-btn">
                <div class="navbar-btn_order">預定行程</div>
                <div class="navbar-btn_signin">登入/註冊</div>
            </div>
        </navbar>
    </div>
    <div class="main-pic">
        <div class="main-title">
            <div class="main-title_top">
                輕鬆享受台北一日悠閒
            </div>
            <div class="main-title_middle">
                探索每個角落，體驗城市的深度旅遊行程
            </div>
            <div class="main-title_search">
                <form class="form">
                    <!-- <div class="main-title_search__box"> -->
                        <input type="text" class="input" placeholder="請輸入要去的地方">
                    <!-- </div> -->
                    <!-- <div class="main-title_search__send"> -->
                    
                        <button type="submit" class="svg-container">
                            <img src="{{ url_for('static', filename='search.png') }}" class="search_img">
                        </button>
                    <!-- </div> -->
                </form>
            </div>

        </div>

    </div>
    <div class="main">
        <div class="listbar">
            <div class="left-container">
                <div class="arrow_left">
                    <img src="{{ url_for('static', filename='arrow left.png') }}">
                </div>
            </div>
            <div class="container">
                <div class="listItemcontainer">
                    
                </div>
            </div>
            <div class="right-container">
                <img src="{{ url_for('static', filename='arrow right.png') }}" class="arrow_right">
            </div>
        </div>
        
        <div class="attraction-container">

    </div>
    <div class="nodata"><span class="nodata_text"></span></div>
    <div class="nodata"><span class="nodata_text"></span></div>
    <div  class="footer">
        <div class="footer-title">
            COPYRIGHT © 2021 台北一日遊
        </div>
    </div>
    <div class="signup_form_box" >
        
    <div class="signin_form_box_header"></div>
        <form method="post" class="signup_form">
            <h3 class="signup_form_title">註冊會員帳號</h3>
            <img src="{{ url_for('static', filename='icon_close.png') }}" class="signup_form_closing">
            <input type="text" name="name" class="name" placeholder="輸入姓名"/>
            <br>
            <input type="text" name="email" class="email" placeholder="輸入電子郵件"/>
            <br>
            <input type="password" name="password" class="password" placeholder="輸入密碼"/>
            <input type="submit" value="註冊新帳戶" class="signup_form_btn"/>
            <p class="signup_form_msg"></p>
            <p class="signup_form_switch">已經有帳戶了？點此登入</p>
        </form> 
    </div>
    <div class="signin_form_box">
    <div class="signin_form_box_header"></div>
        <form method="post" class="signin_form">
            <h3 class="signin_form_title">登入會員帳號</h3>
            <img src="{{ url_for('static', filename='icon_close.png') }}" class="signin_form_closing">
            <input type="text" name="email" class="email" placeholder="輸入電子郵件"/>
            <br>
            <input type="password" name="password" class="password" placeholder="輸入密碼"/>
            <input type="submit" value="登入帳戶" class="signin_form_btn"/>
            <p class="signin_form_msg"></p>
            <p class="signin_form_switch">還沒有帳戶了？點此註冊</p>

        </form> 

    </div>

</body>
<script type="module" src="{{ url_for('static', filename='template.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='login.js') }}"></script>
</html>